#main-content{
    margin-top:116px;
}
#carousel{
    margin-top:35px;
}
#main-content{
    display: inline-flex;
    height: 496px;
    width: 1134px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
#main-content-left{
    width: 163px;
    height: 100%;
    display: flex;
    margin-left: -38.5px;
    flex-direction: column;
    justify-content: space-between;
}
.catalog{
    width: 239px;
    height:164px;
    margin-top: -38.5px;
    margin-bottom: -38.5px;
}
.catalog img{
    width: 100%;
    height:100%;
}
#main-content-right{
    width: 951px;
    height:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#right-top{
    height: 283px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#right-bottom{
    height:196px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topic1{
    height: 358px;
    width:573px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -38.5px;
}
.topic2{
    height: 358px;
    width:291px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -51.5px;
}
.topic3{
    height: 358px;
    width:291px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -51.5px;
}
.topic4{
    height: 272px;
    width:432px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -38.5px;
}
.topic5{
    height: 272px;
    width:432px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -51.5px;
}
.topic6{
    height: 272px;
    width:291px;
    box-sizing: border-box;
    margin-top: -38.5px;
    margin-left: -51.5px;
}
.border-blue{
    width: 100%;
    height:100%;
    display: inline-block;
    box-sizing: border-box;
}
.border-blue:hover{
    border-radius: 12px;
    border: 4px solid #88DDE3;
}
.border-blue:active{
    border-radius: 12px;
    border: 4px solid #88DDE3;
}
.topic-img{
    width: 100%;
    height: 100%;
}
#carousel{
    position: relative;
    width: 708px;
    font-family: "Microsoft YaHei";
    font-size: 27px;
    color: #f74e4e;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 36px;
}
.notice{
    display: inline-block;
    width: 39px;
    height:36px;
    margin-right: 27px;
}