#subject-name{
    display: inline-block;
    text-align: center;
    font-family: AdobeHeitiStd-Regular;
    font-size:48px;
    line-height: 48px;
    color: #543110;
    position: absolute;
    width: 1113px;
    margin-top: 57px;
}
#main-content{
    margin-top: 172px;
    display: inline-flex;
    height: 493px;
    width: 1113px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
#main-content-left{
    height: 493px;
    width: 442px;
    border-radius: 12px;
    overflow-x:visible;
    background:rgba(255, 255, 255, 0.8);
}
#main-content-right {
    height: 493px;
    width: 645px;
    border-radius: 12px;
    background:rgba(255, 255, 255, 0.8);
}
#volume-list{
    display: inline-flex;
    padding: 0 20%;
    width: 100%;
    box-sizing: border-box;
    height: 53px;
}
#volume-list li{
    font-family: "Microsoft YaHei";
    font-size: 26px;
    color: #333;
    line-height: 53px;
    font-weight:bold;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
#volume-list .active{
    background: url("../assets/images/primary/volume_active.png");
    background-size: 100%;
    background-position: center center;
}
#book-list{
    margin-top: 23px;
    border-top:1px solid #d4d4d4;
}
#book-list .book-item{
    line-height: 51px;
    font-size:26px;
    width: 458px;
}
#book-list .book-item span{
    display: inline-block;
    width: 442px;
    line-height: 51px;
    font-size:26px;
    text-align: left;
    text-indent: 26px;
    cursor: pointer;
    border-bottom:1px solid #e1e1e1;
    margin-left: -13px;
}
#book-list .active{
    background: url("../assets/images/primary/subject_arrow.png");
    background-size: 100%;
    background-position: center center;
}
.next-book-page{
    display: inline-block;
    width: 62px;
    height:59px;
    cursor: pointer;
    background: url("../assets/images/primary/arrow_down.png") no-repeat center;
}
.next-book-page:hover{
    background: url("../assets/images/primary/arrow_down_active.png");
}
.next-book-page:active{
    background: url("../assets/images/primary/arrow_down_active.png");
}
#class-list{
    margin-top: 38px;
    overflow: visible;
}
#class-list .class-item {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    color: #333;
    height:76px;
    line-height:39px ;
    overflow: visible;
    margin-top: -22px;
    white-space: nowrap;
}
#class-list .class-item .class-name{
    display: inline-block;
    width: 548px;
    height:76px;
    text-align: left;
    line-height: 76px;
    background: url("../assets/images/primary/class_item_normal.png") no-repeat center;
    cursor: pointer;
}

#class-list .class-item .class-name span{
    display: inline-block;
    width: 480px;
    height:76px;
    line-height: 76px;
    text-align: left;
    overflow: hidden;
    text-indent: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#class-list .class-item .class-collect{
    display: inline-block;
    width: 120px;
    height:76px;
    line-height:76px ;
    text-align: center;
    margin-left: 12px;
    background: url("../assets/images/primary/class_collect_normal.png") no-repeat center;
    cursor: pointer;
    margin-left: -19px;
    vertical-align: top;
}
#class-list .class-item .active{
    background: url("../assets/images/primary/class_item_active.png") no-repeat center;
}
#class-list .class-item .collected{
    background: url("../assets/images/primary/class_collect_active.png") no-repeat center;
}
#page-turn{
    margin-top: 6px;
}
#page-turn #page-turn-nav{
    margin-left: 393px;
    display: inline-block;
}
#page-turn #page-turn-nav .page-turn-item{
    height: 33px;
    width: 73px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
#page-turn #page-turn-nav .page-turn-item .img-shadow{
    display: inline-block;
    margin-top: 2px;
    height: 26px;
    width: 67px;
}
#page-turn #page-turn-nav .page-turn-item:hover .img-shadow{
    -moz-box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE; -webkit-box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE; box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE;
}
#page-turn #page-turn-nav .page-turn-item:active .img-shadow{
    -moz-box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE; -webkit-box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE; box-shadow:4px 4px 30px #11FBFE, -4px -4px 30px #11FBFE;
}
#pre-page{
    background: url("../assets/images/common/prepage1.png");
    margin-right: 4px;
}
#pre-page:hover{
    background: url("../assets/images/common/prepage2.png");
}
#pre-page:active{
    background: url("../assets/images/common/prepage2.png");
}
#next-page{
    background: url("../assets/images/common/nextpage1.png");
    margin-right: 2px;
}
#next-page:hover{
    background: url("../assets/images/common/nextpage2.png");
}
#next-page:active{
    background: url("../assets/images/common/nextpage1.png");
}
#page-index{
    margin-left: 6px;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    vertical-align: top;
    line-height: 33px;
}



