<!DOCTYPE html>
<html lang="en">
<head>
    <title>山西IPTV--精品收藏</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base2.css" rel="stylesheet">
    <link href="../sass/collection.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
</head>
<body id="content">
<img id="bg-img" src="../assets/images/common/main_background.png"/>
<div id="main-content">
    <div id="main-content-left">
        <ul id="type-list">
            <li class="type-item active">最近观看</li>
            <li class="type-item">我的收藏</li>
        </ul>
        <span id="delete-type" class="delete-recent"></span>
    </div>
    <div id="main-content-right">
        <ul id="class-list">
            <li class="class-item"><span class="class-name active"><span>汉字</span></span><span class="class-collect collected">删除</span></li>
            <li class="class-item"><span class="class-name"><span>词的分类</span></span><span class="class-collect">删除</span></li>
            <li class="class-item"><span class="class-name"><span>短语结构</span></span><span class="class-collect">删除</span></li>
            <li class="class-item"><span class="class-name"><span>单句的结构</span></span><span class="class-collect">删除</span></li>
            <li class="class-item"><span class="class-name"><span>名著阅读名著阅读名著阅读名著阅读名著阅读</span></span><span class="class-collect">删除</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（一）</span></span><span class="class-collect">删除</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（二）</span></span><span class="class-collect">删除</span></li>
        </ul>
        <div id="page-turn">
            <div id="page-turn-nav">
                <span class="page-turn-item" id="pre-page"><span class="img-shadow"></span></span>
                <span class="page-turn-item" id="next-page"><span class="img-shadow"></span></span>
            </div>
            <span id="page-index">1/2</span>
        </div>
    </div>
</div>
</body>
<script src="../js/collection.js"></script>
</html>