<!DOCTYPE html>
<html lang="en">
<head>
    <title>山西IPTV--主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/index.css" rel="stylesheet">
    <link href="../sass/base.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
    <script src="../js/index.js"></script>
</head>
<body id="content">
    <img id="bg-img" src="../assets/images/common/main_background.png"/>
    <div id="main-content">
        <div id="main-content-left">
            <div class="catalog module"><img src="../assets/images/main/primary_normal.png"></div>
            <div class="catalog module"><img src="../assets/images/main/middle_normal.png"></div>
            <div class="catalog module"><img src="../assets/images/main/senior_normal.png"></div>
            <div class="catalog module"><img src="../assets/images/main/childhood_normal.png"></div>
            <div class="catalog module"><img src="../assets/images/main/mycollect_normal.png"></div>
        </div>
        <div id="main-content-right">
            <div id="right-top">
                <div class="topic1 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic1.png"></div></div>
                <div class="topic2 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic2.png"></div></div>
                <div class="topic3 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic3.png"></div></div>
            </div>
            <div id="right-bottom">
                <div class="topic4 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic4.png"></div></div>
                <div class="topic5 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic5.png"></div></div>
                <div class="topic6 module"><div class="border-blue"><img class="topic-img" src="../assets/images/main/topic1.png"></div></div>
            </div>
        </div>
    </div>
    <span id="carousel"><img src="../assets/images/main/notice.png" class="notice">山西IPTV电视平台学习教育专区上线啦！小学、初中、高中等</span>
</body>
</html>