<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV-小学</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base.css" rel="stylesheet">
    <link href="../sass/primary_list.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
</head>
<body id="content">
    <img id="bg-img" src="../assets/images/primary/primary_list_background.png"/>
    <div id="main-content">
        <div id="main-content-left">
        </div>
        <div id="main-content-right">
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/geography.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/politics.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/history.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/biology.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/chemistry.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/physics.png"></div>
        </div>
    </div>
</body>
</html>