<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV-小学</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base.css" rel="stylesheet">
    <link href="../sass/primary_subject.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
</head>
<body id="content">
<img id="bg-img" src="../assets/images/primary/primary_subject_background.png"/>
<span id="subject-name">一年级语文</span>
<div id="main-content">
    <div id="main-content-left">
        <ul id="volume-list">
            <li class="volume-item active">上册</li>
            <li class="volume-item ">下册</li>
        </ul>
        <ul id="class-list">
            <li class="class-item active"><span>语言运用（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
            <li class="class-item"><span>阅读（初一上）</span></li>
        </ul>
        <span class="next-class-page"></span>
    </div>
    <div id="main-content-right">
    </div>
</div>
</body>
</html>