<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV-小学</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base2.css" rel="stylesheet">
    <link href="../sass/primary_list.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
    <script src="../js/index.js"></script>
</head>
<body id="content">
    <img id="bg-img" src="../assets/images/primary/primary_list_background.png"/>
    <div id="main-content">
        <div id="main-content-left">
            <ul id="grade-list">
                <li class="grade-item active">一年级</li>
                <li class="grade-item">二年级</li>
                <li class="grade-item">三年级</li>
                <li class="grade-item">四年级</li>
                <li class="grade-item">五年级</li>
                <li class="grade-item">六年级</li>
            </ul>
        </div>
        <div id="main-content-right">
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/geography_normal.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/politics_normal.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/history_normal.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/biology_normal.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/chemistry_normal.png"></div>
            <div class="subject module"><img class="subject-img" src="../assets/images/primary/physics_normal.png"></div>
        </div>
    </div>
</body>
</html>