<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV--专题页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base2.css" rel="stylesheet">
    <link href="../sass/seminar1.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
</head>
<body id="content">
<img id="bg-img" src="../assets/images/seminar/seminar_bg1.png"/>
<div id="main-content">
    <div id="main-content-right">
        <ul id="class-parent-list">
            <li class="class-parent-item active"><span>和倍问题和差倍问题</span></li>
            <li class="class-child-item"><span>追及问题</span></li>
            <li class="class-child-item choose"><span>相遇问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
            <li class="class-parent-item"><span>和倍问题和差倍问题</span></li>
        </ul>
        <div id="page-turn">
            <div id="page-turn-nav">
                <span class="page-turn-item" id="pre-page"><span class="img-shadow"></span></span>
                <span class="page-turn-item" id="next-page"><span class="img-shadow"></span></span>
            </div>
            <span id="page-index">1/2</span>
        </div>
    </div>
</div>
</body>
</html>