<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV--专题页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base2.css" rel="stylesheet">
    <link href="../sass/seminar2.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
</head>
<body id="content">
<img id="bg-img" src="../assets/images/seminar/seminar_bg2.png"/>
<span id="subject-name"><span>小学奥数必考题型全解析</span></span>
<div id="main-content">
    <div id="main-content-left">
        <ul id="book-list">
            <li class="book-item active"><span>三年级</span></li>
            <li class="book-item"><span>四年级</span></li>
            <li class="book-item"><span>五年级</span></li>
            <li class="book-item"><span>六年级</span></li>
        </ul>
    </div>
    <div id="main-content-right">
        <ul id="class-list">
            <li class="class-item"><span class="class-name active"><span>汉字</span></span><span class="class-collect collected">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>词的分类</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>短语结构</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>单句的结构</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>名著阅读名著阅读名著阅读名著阅读名著阅读</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（一）</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（二）</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（二）</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（二）</span></span><span class="class-collect">收藏</span></li>
            <li class="class-item"><span class="class-name"><span>文言文阅读（二）</span></span><span class="class-collect">收藏</span></li>
        </ul>
        <div id="page-turn">
            <div id="page-turn-nav">
                <span class="page-turn-item" id="pre-page"><span class="img-shadow"></span></span>
                <span class="page-turn-item" id="next-page"><span class="img-shadow"></span></span>
            </div>
            <span id="page-index">1/2</span>
        </div>
    </div>
</div>
</body>
</html>