<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山西IPTV-高中</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    <link href="../sass/base2.css" rel="stylesheet">
    <link href="../sass/primary_list.css" rel="stylesheet">
    <script src="../lib/jquery-1.9.1.js"></script>
    <script src="../js/index.js"></script>
</head>
<style>
    #main-content-left{
        height: 197px;
    }
</style>
<body id="content">
<img id="bg-img" src="../assets/images/senior/senior_list_background.png"/>
<div id="main-content">
    <div id="main-content-left">
        <ul id="grade-list">
            <li class="grade-item active">高一</li>
            <li class="grade-item">高二</li>
            <li class="grade-item">高三</li>
        </ul>
    </div>
    <div id="main-content-right">
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/chinese_normal.png"></div>
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/math_normal.png"></div>
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/english_normal.png"></div>
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/biology_normal.png"></div>
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/chemistry_normal.png"></div>
        <div class="subject module"><img class="subject-img" src="../assets/images/middle/physics_normal.png"></div>
    </div>
</div>
</body>
</html>